{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% translate "Contact" %}
{% endblock title %}

{% block content %}
<h1>{% translate "Contact us" %}</h1>
<section class="section container narrow">
    <p class="text-center">{% translate "If there's something that you want to share with us, let us know!" %}</p>
    {% if  alert %}
        <section class="alert {{ alert_type }}">
            <p>{{ alert }}</p>
            <button>X</button>
        </section>
    {% endif %}
    <form action="{% url 'dev_otion_app:contact' %}" method="post" class="contact_form">
        {% csrf_token %}
        <fieldset>
            <label for="message">{% translate "Message" %}</label>
            <textarea 
                name="message" 
                id="message" 
                placeholder="{% translate 'How can we help you?' %}" 
                class="{% if error == 'message' %}
                    input_error
                {% endif %}"
            >{{ message }}</textarea>
            <button>{% translate "Submit" %}</button>
        </fieldset>
    </form>
</section>
{% endblock content %}