{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>
<nav class="container right-align">
    <a href="{% url 'dev_otion_app:entrybytopic' url=topic_url %}" class="button">{% translate "Back" %}</a>
</nav>
<section class="section">
    <article class="blog_entry container">{{ content|safe }}</article>
</section>
<!-- The script containing the code highlighting logic (Prism.js) -->
<script src="{% static 'dev_otion_app/prism.js/js/prism.js' %}"></script>
{% endblock content %}