{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ topic }}
{% endblock title %}

{% block content %}
<h1>{{ topic }}</h1>
<nav class="container right-align">
    <a href="{% url 'dev_otion_app:topics' %}" class="button">{% translate "Back" %}</a>
</nav>
<section class="container list_of_entries">
    {% for entry in entries %}
        <article class="entry">
            <a href="{% url 'dev_otion_app:entry' url=entry.url %}">{{ entry.title }}</a>
            <p>{% translate "By" %}: <span>{{ entry.author }}</span></p>
            <p>{% translate "Last update" %}: <span>{{ entry.pub_date|date:"d/m/Y" }}</span></p>
        </article>
    {% endfor %}
</section>
{% endblock content %}