{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}
    Dev-otion
{% endblock title %}

{% block content %}
<h1>List of topics</h1>
<section class="container topic-list">
    {% for topic in topics %}
        <article class="topic">
            <picture>
                <source srcset="{% static 'dev_otion_app/img/' %}{{ topic.image|avif_image }}" type="image/avif">
                <source srcset="{% static 'dev_otion_app/img/' %}{{ topic.image|webp_image }}" type="image/webp">
                <img src="{% static 'dev_otion_app/img/' %}{{ topic.image|original_image }}" alt="{{ topic.name }} image" loading="lazy" class="topic__image">
            </picture>
            <h3>{{ topic.name }}</h3>
        </article>
    {% endfor %}
</section>
{% endblock content %}