@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

.blog_entry
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: c.$white;
    padding: 1rem 2rem;

    pre
    {
        max-height: 50vh;
    }

    a
    {
        color: c.$black;
        font-weight: t.$black;
        &:hover
        {
            color: c.$green;
            transition: color .3s ease;
        }
    }

    pre, img{
        border-radius: .4rem;
        box-shadow: 1px 1px 8px 1px c.$black;
        @include m.tablet{
            width: 95%;
        }
    }
}