@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

.blog_entry
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: c.$white;
    padding: 1rem 2rem;
}