$black: #000000;
$white: #FFFFFF;
$lightGrey: #e1e1e1;
$darkGrey: #3f3f3f;
$lightGreen: #82E0AA;
$green: #4FA003;
$lightBlue: #73FFFF;
$orange: #E08709;
$darkOrange: #F57C00;
$red: #F15959;
$redCard: #D72600;
$greenCard: #379711;
$yellowCard:#ECD407;
$blueCard: #0956BF;