@use 'sizes' as s;
@use 'typography' as t;
@use 'colors' as c;

@mixin phone
{
    @media (min-width: s.$phone)
    {
        @content; 
    }
}

@mixin tablet
{
    @media (min-width: s.$tablet)
    {
        @content; 
    }
}

@mixin desktop
{
    @media (min-width: s.$desktop)
    {
        @content; 
    }
}

@mixin desktopXL
{
    @media (min-width: s.$desktopXL)
    {
        @content; 
    }
}

@mixin grid ($columns:false, $rows: false, $areas: false, $gap: false){
    display: grid;
    @if $columns{grid-template-columns: $columns;}
    @if $rows{grid-template-rows: $rows;}
    @if $areas{grid-template-areas: $areas;}
    @if $gap{gap: $gap;}
}

@mixin flex ($direction: false, $justify: false, $align: false, $gap: false)
{
    display: flex;
    @if $direction {flex-direction: $direction;}
    @if $justify {justify-content: $justify;}
    @if $align {align-items: $align;}
    @if $gap {gap: $gap;}
}

@mixin reset-list ($style: none)
{
    list-style: $style;
    margin: 0;
    padding: 0;
}

@mixin button($bkg-color, $color, $display, $darken-transition:false)
{
    background-color:$bkg-color;
    color:$color;
    border: none;
    font-weight: t.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin: calc(t.$spaicing/2) 0;
    display: $display;
    &:hover{
        cursor: pointer;
        @if($darken-transition){
            background-color: darken($bkg-color,5%);
            transition: background-color .3s ease;
        }
    }
}

// Design inspired by https://ianlunn.github.io/Hover/#effects Rectangle Out
@mixin button_hover_fill($hover-bkg-color, $no-hover-bkg-color, $border-color)
{
    background-color: $no-hover-bkg-color;
    color: $hover-bkg-color;
    border: 1px solid $border-color;
    padding: 1rem;
    border-radius: 1.2rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index:0;
    position: relative;
    transition: color .4s;
    &::before
    {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $hover-bkg-color;
        border-radius: 1.2rem;
        transform: scale(0);
        transition: transform .4s ease-out;
    }
    &:hover, &:focus, &:active
    {
        color: $no-hover-bkg-color;
        &::before
        {
            transform: scale(1);
        }
    }
}

@mixin card
{
    background-color: c.$white;
    padding: 1rem;
    border: 1px solid c.$lightGrey;
    margin: calc(t.$spaicing/2) 0;
    width: 100%;
    height: 100%;
}

@mixin link
{
    font-size: 2rem;
    color: c.$black;
    &:hover
    {
        color: c.$green;
        transition: color .3s ease;
    }

    &::after
    {
        content:'';
        height: .2rem;
        width: 2rem;
        background-color: darken(c.$green,5%);
        display: block;
    }
}