@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

.list_of_entries
{
    @include m.flex($direction: column, $justify: center, $align: center, $gap: 1rem);
    @include m.tablet
    {
        @include m.grid($columns: repeat(2,1fr), $gap: 1rem);
    }

    @include m.desktop
    {
        @include m.grid($columns: repeat(3,1fr), $gap: 2rem);
    }

    .entry
    {
        @include m.card;
        a
        {
            @include m.link;
        }
        p
        {
            font-size: 1.3rem;
            margin: 0;
            span
            {
                color: c.$orange;
            }
            &:first-of-type
            {
                margin-top: calc(t.$spaicing/4);
            }
        }
    }
}