@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

.dark_mode
{
    background-color: lighten(c.$black, 15%);

    h1,h2,h3,p
    {
        color: c.$white;
    }

    .blog_entry
    {
        box-shadow: rgba(123, 123, 123, 0.751) 0px 2px 8px;
        background-color: c.$darkGrey;

        a
        {
            color: c.$white;
        }
    }

    .resume .resume_item 
    {
        h3,p,a
        {
            color: c.$white;
        }
    }

    .post-slider
    {
        &__slide.swiper-slide
        {
            @include m.tablet
            {
                color: c.$white;
            }
        }
    }

    .homepage_contact p
    {
        color: c.$white;
    }


    .topic_list .topic, .list_of_entries .entry
    {
        background-color: c.$darkGrey;
        border-color: darken(c.$lightGrey,50%);
        a
        {
            color: c.$white;
        }
    }

    .contact_form fieldset
    {
        background-color: c.$darkGrey;
        border-color: darken(c.$lightGrey,50%);

        label
        {
            color: c.$white;
        }

        input[type="text"], textarea
        {
            background-color: c.$darkGrey;
            border-color: darken(c.$lightGrey,50%);
            color: c.$white;
        }
    }
}