@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: t.$main_font;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: lighten(c.$lightGrey,5%);
}
p,li {
    color: c.$black;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: t.$main_font;
    margin: calc(t.$spaicing / 2) 0;
    font-weight: t.$regular;
    text-align: center;
    color: c.$black;
}

h1 {
    @include m.fluid-text(2rem,3.8rem);
}
h2 {
    @include m.fluid-text(1.8rem,3.4rem);
}
h3 {
    @include m.fluid-text(1.6rem,3rem);
}
h4 {
    @include m.fluid-text(1.4rem,2.6rem);
}


.button
{
    @include m.button($bkg-color: c.$green, $color: c.$white, $display:inline-block, $darken-transition:true);
}
