@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

.header
{
    background-color:rgb(74, 137, 6);
    background-image:
    radial-gradient(at 59% 18%, hsla(101,95%,38%,1) 0px, transparent 50%),
    radial-gradient(at 68% 48%, hsla(53,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 9% 50%, rgb(171, 240, 162) 0px, transparent 50%),
    radial-gradient(at 86% 20%, hsla(114,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 4% 85%, hsla(109,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 85%, hsla(128,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 20% 0%, hsla(114,100%,76%,1) 0px, transparent 50%);
    padding: 1rem;
    @include m.flex($direction: column, $align: center, $gap: .5rem);
    .logo
    {
        width: 12rem;
        height: 9rem;
    }
    @include m.tablet
    {
        @include m.grid($columns: repeat(2,1fr));
        gap:0;
        place-items: center right;
    }
}

.menu
{
    summary
    {
        list-style: none;
        .icon
        {
            width: 4.2rem;
        }
    }

    .icon
    {
        width: 2rem;
        filter:invert(100%);
        &:hover
        {
            cursor: pointer;
        }
    }
}

.menu[open]
{
    @include m.tablet
    {
        height: 2rem;
        width:60%;
        position: relative;
        &>summary, .menu_list
        {
            position: absolute;
        }
        &>summary
        {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .menu_list
        {
            top: 100%;
            transform: translateY(18.2%);
            left:0;
            right: -1rem;
        }
    }
    .menu_list
    {
        @include m.flex($direction: column, $align: center, $gap: 1rem);
        background-color: c.$green;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    summary~*
    {
        animation: menu_animation .3s ease-out;
    }
}

.menu_animation_close 
{
    animation: menu_animation .3s ease-in reverse;
}

.search_bar
{
    @include m.flex($gap:.5rem);
    background-color: c.$white;
    padding: 1rem;
    border: 1px solid c.$lightGrey;
    border-radius: 1.2rem;
    width: 100%;

    &:focus-within
    {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
    }

    input[type="text"]
    {
        border:none;
        &:focus
        {
            outline: none;
        }
    }
}

.nav_bar
{
    @include m.flex($direction: column, $align: center, $gap:.5rem);
    width: 100%;
    a
    {
        background-color: c.$white;
        color: c.$green;
        border: 1px solid c.$lightGrey;
        padding: 1rem;
        border-radius: 1.2rem;
        width: 100%;
        text-align: center;

        &:hover
        {
            background-color: c.$green;
            color: c.$white;
        }
    }
}

.settings
{
    width: 100%;
    @include m.reset-list();
    @include m.flex($justify: space-evenly, $align: center, $gap:1rem);
    .languages
    {
        @include m.flex($direction: column);
        color: c.$white;
        font-size: 2rem;
        summary
        {
            list-style: none;
            &::after
            {
                content: '\25BE';
                padding: .7rem;
                font-size: 1.8rem;
            }
        }
        &[open]
        {
            summary::after
            {
                content:'\25B4';
                font-size: 2.4rem;
            }
        }
        &--option
        {
            color: c.$white;
            padding: 1rem;
            border-radius: 2rem;
            margin-bottom: 0.2rem;
        }
        summary:hover, &--option:hover
        {
            cursor: pointer;
            color: c.$orange;
        }
    }
}

@keyframes menu_animation
{
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}
