<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    {% load filters %}
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <!-- Code highlighting stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-light.min.css" class="light_code_highlight">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-dark.min.css" class="dark_code_highlight">
    <!-- Swiper stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <!-- Custom stylesheets -->
    <link rel="preload" href="{% static 'dev_otion_app/css/styles.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'dev_otion_app/css/styles.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'dev_otion_app/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'dev_otion_app/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'dev_otion_app/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dev_otion_app/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'dev_otion_app/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'dev_otion_app/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'dev_otion_app/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'dev_otion_app/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dev_otion_app/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'dev_otion_app/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dev_otion_app/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dev_otion_app/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dev_otion_app/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'dev_otion_app/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'dev_otion_app/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    <!-- To avoid CSRF issues when calling the search API, we have to inclide the app's csrf_token into our JS code. The easiest way is just to add this small script in the base template -->
    <script>
        const csrfToken = '{{ csrf_token }}'
    </script>
    <!-- FontAwesome Kit CDN -->
    <script src="https://kit.fontawesome.com/5302ad5c09.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img src="{% static 'dev_otion_app/img/Dev-otion_logo.svg' %}" alt="Dev-otion logo" class="logo">
        <details class="menu">
            <summary>
                <i class="fa-solid fa-bars menu_icon"></i>
            </summary>
            <div class="menu_list">
                <a href="{% url 'dev_otion_app:index' %}"><i class="fa-solid fa-house-chimney"></i></a>
                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="{% translate 'Search for a post' %}" class="search_input">
                </div>
                <div class="result_container"></div>
                <nav class="nav_bar">
                    <a href="{% url 'dev_otion_app:topics' %}">{% translate "Topics" %}</a>
                    <a href="{% url 'dev_otion_app:contact' %}">{% translate "Contact" %}</a>
                </nav>
                <ul class="settings">
                    <li>
                        <i class="fa-solid fa-circle-half-stroke dark_mode_button"></i>
                    </li>
                    <li>
                        <details class="languages">
                            <summary>
                                <i class="fa-solid fa-language"></i>
                            </summary>
                            <div class="languages__list">
                                <a href="{{ reverted_urls|get_dict_item:'en' }}" class="languages--option">&#x1f1ec;&#x1f1e7; EN</a>
                                <a href="{{ reverted_urls|get_dict_item:'es' }}" class="languages--option">&#x1f1ea;&#x1f1f8; ES</a>
                                <a href="{{ reverted_urls|get_dict_item:'fr' }}" class="languages--option">&#x1f1eb;&#x1f1f7; FR</a>
                            </div>
                        </details>
                    </li>
                </ul>
            </div>
        </details>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container footer-content">
            <p>&copy; {{ year }}  Dev-otion. {% translate "All rights reserved" %}</p>
        </div>
    </footer>
    <!-- Highlight.JS CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- Swiper CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Own scripts -->
    <script src="{% static 'dev_otion_app/js/main.js' %}"></script>
</body>
</html>
