<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="preload" href="{% static 'dev_otion_app/css/styles.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'dev_otion_app/css/styles.css' %}">
    <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-light.min.css" as="style">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-light.min.css" class="light_code_highlight">
    <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-dark.min.css" as="style">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/panda-syntax-dark.min.css" class="dark_code_highlight">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <img src="{% static 'dev_otion_app/img/Dev-otion_logo.svg' %}" alt="Dev-otion logo" class="logo">
        <details class="menu">
            <summary>
                <img src="{% static 'dev_otion_app/img/menu.svg' %}" alt="Menu icon" class="icon">
            </summary>
            <div class="menu_list">
                <a href="/{{ lang }}"><img src="{% static 'dev_otion_app/img/homepage.svg' %}" alt="homepage icon" class="icon"></a>
                <div class="search_bar">
                    <img src="{% static 'dev_otion_app/img/search.svg'%}" alt="Search icon" class="icon">
                    <input type="text" placeholder="{% translate 'Search for an article' %}">
                </div>
                <nav class="nav_bar">
                    <a href="topics">{% translate "Topics" %}</a>
                    <a href="#">{% translate "Contact" %}</a>
                </nav>
                <ul class="settings">
                    <li>
                        <img src="{% static 'dev_otion_app/img/dark_mode.svg' %}" alt="dark mode button" class="dark_mode_button icon">
                    </li>
                    <li>
                        <details class="languages">
                            <summary>
                                <img src="{% static 'dev_otion_app/img/language_translation.svg' %}" alt="language translation button" class="icon">
                            </summary>
                            <div class="languages__list">
                                <a href="/en/{{ current_url }}" class="languages--option">&#x1f1ec;&#x1f1e7; EN</a>
                                <a href="/es/{{ current_url }}" class="languages--option">&#x1f1ea;&#x1f1f8; ES</a>
                                <a href="/fr/{{ current_url }}" class="languages--option">&#x1f1eb;&#x1f1f7; FR</a>
                            </div>
                        </details>
                    </li>
                </ul>
            </div>
        </details>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container footer-content">
            <p>&copy; {{ year }}  Dev-otion. {% translate "All rights reserved" %}</p>
        </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="{% static 'dev_otion_app/js/bundle.js' %}"></script>
</body>
</html>
