<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Font import -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- Stylesheets -->
        {% load static %}
        <link rel="preload" href="{% static 'dev_otion_app/css/styles.css' %}" as="style">
        <link rel="stylesheet" href="{% static 'dev_otion_app/css/styles.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="header">
            <div class="header_bar">
                
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; {{ year }}  Dev-otion</p>
        </footer>
    </body>
</html>
