@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/mixins' as m;

:root
{
    --swiper-navigation-size: 3rem !important; // Overwrite the navigation size variable in order to adjust swiper buttons size. !important is needed as otherwise Swiper styles will overwrite this one (as they are added with the JS webpack bundle. There's no other way as we cannot increase the specifity for the :root selector.
}

.post-slider
{
    &__slide.swiper-slide
    {
        padding: 2rem;
        color: c.$black;
        font-weight: t.$bold;
        font-size: 1.8rem;
        width: 35vw;
        min-height: 15vh;
        position: relative;
        border-radius: 1rem;
        &:nth-child(4n)
        {
            background-color: lighten(c.$redCard,20%);
        }
        &:nth-child(4n+1)
        {
            background-color: lighten(c.$blueCard,20%);
        }
        &:nth-child(4n+2)
        {
            background-color: lighten(c.$greenCard,20%);
        }
        &:nth-child(4n+3)
        {
            background-color: lighten(c.$yellowCard,20%);
        }
        @include m.tablet
        {
            &:not(:nth-child(odd)), &:not(:nth-child(even))
            {
                background-color: transparent;
            }
            border-radius: unset;
        }

        &::before
        {
            content:'';
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: var(--slide_bkg_image);
            background-repeat: no-repeat;
            background-size:contain;
            background-position: left;
            border-radius: 1rem;
            z-index:-1;
            opacity: .4;
            @include m.tablet
            {
                opacity: .6;
            }
        }
    }

    .swiper-button-prev, .swiper-button-next
    {
        color: rgba(c.$white, .8);
        font-weight: t.$black;
        &:hover
        {
            color: c.$green;
            transition: color .3s ease;
        }
    }
}